@model IEnumerable<Annexio.Models.Country>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td>Test 1</td>
        <td>Test 2</td>
        <td>Test 3</td>
    </tr>
</table>

