@model Annexio.Models.RegionDetails
@{
    ViewBag.Title = "BasicDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="display-4">Region:</h1>
    @{
        Html.RenderPartial("DetailsPartialView", @Model);
    }
</div>

